@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  
    &__top {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 999;
      padding: 12px 10px;
      transition: background-color 0.3s;
    }
  
    &__top--scroll {
      background-color: rgba($dark, 0.9);
    }
  
    &__phone {
      transition: opacity 0.3s, box-shadow 0.3s;
  
      &:focus {
        box-shadow: 0 0 0 2px $dark;
        border-radius: 5px;
      }
  
      &:hover {
        opacity: 0.8;
      }
  
      &:active {
        opacity: 0.5;
      }
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  
    &__title {
      font-family: $ptserif, sans-serif;
      font-weight: 700;
      font-size: 90px;
      line-height: 1.3;
      text-align: center;
      margin: auto 0;
      -webkit-text-stroke: 1px $silver;
      color: $silver;
      text-shadow:
        2px 2px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  
    &__box {
      margin-bottom: 100px;
    }
  
    &__desck {
      font-weight: 500;
      font-size: 20px;
      max-width: 440px;
      color: $silver;
      margin-bottom: 40px;
    }
  
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    &__btn {
      display: none;
    }
  
    &__list {
      display: flex;
    }
  
    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  
    &__link {
      font-weight: 500;
      color: $silver;
      font-size: 16px;
      transition: box-shadow 0.3s, text-shadow 0.3s;
  
      &:focus {
        box-shadow: 0 0 0 2px $dark;
        border-radius: 5px;
      }
  
      &:hover {
        text-shadow: 2px 2px 5px rgba(251, 252, 252, 0.6);
      }
    }
  
  }

  .direction {
    margin: 100px 0;
  
    &__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px;
    }
  
    &__img {
      height: auto;
    }
  
    &__text {
      font-size: 16px;
      padding: 10px 0 14px;
    }
  
  }

  .travel-info {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 20px 0 60px;
  
    &__title {
      color: $silver;
      margin-bottom: 50px;
    }
  
    &__box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 54px 67px;
    }
  
    &__img {
      margin-bottom: 15px;
    }
  
    &__text {
      color: $silver;
      font-size: 16px;
      line-height: 1.3;
    }
  
  }

  .popular {
    margin: 100px 0;
  
    &__title {
      margin-bottom: 40px;
    }
  
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 32px;
    }
  
    &__item:nth-child(3),
    &__item:nth-child(6) {
      grid-column: span 2;
      grid-row: span 2;
      font-size: 24px;
    }
  
    &__wrapper {
      padding: 16px 24px 19px;
      color: $silver;
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 256px;
      height: 100%;
      line-height: 130%;
    }
  
    &__wrapper-title {
      font-weight: 500;
    }
  
    &__price {
      font-weight: 700;
      font-size: 16px;
      margin-top: auto;
    }
  
  }
  
  .promo {
    background-image: url("../images/promo-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 120px 0 250px;
    margin-bottom: 100px;
  
    &__inner {
      max-width: 438px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__title {
      color: $silver;
      margin-bottom: 80px;
    }
  
    .timer {
      margin-bottom: 80px;
  
      &__items {
        display: flex;
      }
  
      &__item {
        height: 96px;
        width: 96px;
        border-radius: 50%;
        background-color: $silver;
        box-shadow: -4px 7px 4px rgba(255, 255, 255, 0.25);
        font-family: $ptserif, sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        position: relative;
  
        &::before {
          content: attr(data-title);
          position: absolute;
          bottom: 15%;
          font-size: 16px;
          font-family: $roboto, sans-serif;
          font-weight: 500;
          color: $dark;
        }
  
        &:not(:last-child) {
          margin-right: 18px;
        }
      }
  
    }
  
  }

  .map {
    margin-bottom: 100px;
  
    &__title {
      margin-bottom: 46px;
    }
  
  }  
