- 
    var directionData =[
        {
            src: 'images/direction/1.jpg',
            text: 'Токио'
        },
        {
            src: 'images/direction/2.jpg',
            text: 'Осака'
        },
        {
            src: 'images/direction/3.jpg',
            text: 'Нара'
        },
        {
            src: 'images/direction/4.jpg',
            text: 'Хиросима'
        },
        {
            src: 'images/direction/5.jpg',
            text: 'Киото'
        },
        {
            src: 'images/direction/6.jpg',
            text: 'о.Хонсю'
        },
        {
            src: 'images/direction/7.jpg',
            text: 'Фукуока'
        },
        {
            src: 'images/direction/8.jpg',
            text: 'Йокахама'
        },
        {
            src: 'images/direction/9.jpg',
            text: 'Киёсу'
        },
        {
            src: 'images/direction/10.jpg',
            text: 'Катагами'
        },
        {
            src: 'images/direction/11.jpg',
            text: 'Никахо'
        }
    ]

-
    var travelInfoData =[
        {
            src: 'images/icons/icon-1.svg',
            alt: 'иконка земной шар',
            text: 'Полная организация отдыха: групповые и индивидуальные туры'
        },
        {
            src: 'images/icons/icon-2.svg',
            alt: 'иконка трансфер',
            text: 'Организация трансфера из любой точки мира'
        },
        {
            src: 'images/icons/icon-3.svg',
            alt: 'иконка отель',
            text: 'Проживание в отелях по маршруту'
        },
        {
            src: 'images/icons/icon-4.svg',
            alt: 'иконка автомобиль',
            text: 'Аренда автомобилей и любого вида транспорта'
        },
        {
            src: 'images/icons/icon-5.svg',
            alt: 'иконка медицинская страховка',
            text: 'Медицинская страховка'
        },
        {
            src: 'images/icons/icon-6.svg',
            alt: 'иконка гид',
            text: 'Сопровождение русскоговорящих гидов'
        },
        {
            src: 'images/icons/icon-7.svg',
            alt: 'иконка пляж',
            text: 'Организация VIP-туров?'
        }
    ]    