- 
    var directionData = [
        {
            src: 'images/direction/1.jpg',
            text: 'Токио'
        },
        {
            src: 'images/direction/2.jpg',
            text: 'Осака'
        },
        {
            src: 'images/direction/3.jpg',
            text: 'Нара'
        },
        {
            src: 'images/direction/4.jpg',
            text: 'Хиросима'
        },
        {
            src: 'images/direction/5.jpg',
            text: 'Киото'
        },
        {
            src: 'images/direction/6.jpg',
            text: 'о.Хонсю'
        },
        {
            src: 'images/direction/7.jpg',
            text: 'Фукуока'
        },
        {
            src: 'images/direction/8.jpg',
            text: 'Йокахама'
        },
        {
            src: 'images/direction/9.jpg',
            text: 'Киёсу'
        },
        {
            src: 'images/direction/10.jpg',
            text: 'Катагами'
        },
        {
            src: 'images/direction/11.jpg',
            text: 'Никахо'
        }
    ]

-
    var travelInfoData = [
        {
            src: 'images/icons/icon-1.svg',
            alt: 'иконка земной шар',
            text: 'Полная организация отдыха: групповые и индивидуальные туры'
        },
        {
            src: 'images/icons/icon-2.svg',
            alt: 'иконка трансфер',
            text: 'Организация трансфера из любой точки мира'
        },
        {
            src: 'images/icons/icon-3.svg',
            alt: 'иконка отель',
            text: 'Проживание в отелях по маршруту'
        },
        {
            src: 'images/icons/icon-4.svg',
            alt: 'иконка автомобиль',
            text: 'Аренда автомобилей и любого вида транспорта'
        },
        {
            src: 'images/icons/icon-5.svg',
            alt: 'иконка медицинская страховка',
            text: 'Медицинская страховка'
        },
        {
            src: 'images/icons/icon-6.svg',
            alt: 'иконка гид',
            text: 'Сопровождение русскоговорящих гидов'
        },
        {
            src: 'images/icons/icon-7.svg',
            alt: 'иконка пляж',
            text: 'Организация VIP-туров?'
        }
    ]

-
    var popularData = [
        {
            style: 'background-image: url(images/popular/1.jpg);',
            title: 'ПУТЕШЕСТВИЕ ПО КИОТО',
            price: 'от 1500 $'
        },
        {
            style: 'background-image: url(images/popular/2.jpg);',
            title: 'ПУТЕШЕСТВИЕ ПО ЙОКАХАМЕ',
            price: 'от 2000 $'
        },
        {
            style: 'background-image: url(images/popular/3.jpg);',
            title: 'ГРАНДИОЗНОЕ ПРИКЛЮЧЕНИЕ ПО 9 ГОРОДАМ ЯПОНИИ',
            price: 'от 6000 $'
        },
        {
            style: 'background-image: url(images/popular/4.jpg);',
            title: 'ПУТЕШЕСТВИЕ ЧЕРЕЗ 5 ГОРОДОВ ЯПОНИИ',
            price: 'от 5000 $'
        },
        {
            style: 'background-image: url(images/popular/5.jpg);',
            title: 'ИССЛЕДОВАНИЕ ОСТРОВА ХОНСЮ',
            price: 'от 2500 $'
        },
        {
            style: 'background-image: url(images/popular/6.jpg);',
            title: 'САМЫЕ ПОПУЛЯРНЫЕ ПАРКИ И ЗАПОВЕДНИКИ ЯПОНИИ',
            price: 'от 1700 $'
        },
        {
            style: 'background-image: url(images/popular/7.jpg);',
            title: 'ОТДЫХ В КАТАГАМЕ',
            price: 'от 1700 $'
        },
        {
            style: 'background-image: url(images/popular/8.jpg);',
            title: 'КЛАССИКА ОСАКИ',
            price: 'от 1500 $'
        },
        {
            style: 'background-image: url(images/popular/9.jpg);',
            title: 'ОТ ТОКИО ДО ВУЛКАНА ФУДЗИЯМА',
            price: 'от 2500 $'
        },
        {
            style: 'background-image: url(images/popular/10.jpg);',
            title: 'ВЕЛИКОЛЕПНЫЙ ФУКУОКА',
            price: 'от 1700 $'
        }
    ]

-
    var galleryData1 = [
        {
            href: 'images/gallery/big/1.jpg',
            src: 'images/gallery/1.jpg',
            alt: 'панда'
        },
        {
            href: 'images/gallery/big/2.jpg',
            src: 'images/gallery/2.jpg',
            alt: 'фудзияма'
        },
        {
            href: 'images/gallery/big/3.jpg',
            src: 'images/gallery/3.jpg',
            alt: 'японская еда'
        },
        {
            href: 'images/gallery/big/4.jpg',
            src: 'images/gallery/4.jpg',
            alt: 'коты'
        },
        {
            href: 'images/gallery/big/5.jpg',
            src: 'images/gallery/5.jpg',
            alt: 'гейши'
        },
        {
            href: 'images/gallery/big/6.jpg',
            src: 'images/gallery/6.jpg',
            alt: 'олень'
        },
    ]

-
    var galleryData2 = [
        {
            href: 'images/gallery/big/7.jpg',
            src: 'images/gallery/7.jpg',
            alt: 'радужные карпы'
        },
        {
            href: 'images/gallery/big/8.jpg',
            src: 'images/gallery/8.jpg',
            alt: 'сакура'
        },
        {
            href: 'images/gallery/big/9.jpg',
            src: 'images/gallery/9.jpg',
            alt: 'японский квартал'
        },
        {
            href: 'images/gallery/big/10.jpg',
            src: 'images/gallery/10.jpg',
            alt: 'роллы'
        },
        {
            href: 'images/gallery/big/11.jpg',
            src: 'images/gallery/11.jpg',
            alt: 'японский храм'
        },
        {
            href: 'images/gallery/big/12.jpg',
            src: 'images/gallery/12.jpg',
            alt: 'японские фонарики'
        },
    ] 