- 
    var directionData =[
        {
            src: 'images/direction/1.jpg',
            text: 'Токио'
        },
        {
            src: 'images/direction/2.jpg',
            text: 'Осака'
        },
        {
            src: 'images/direction/3.jpg',
            text: 'Нара'
        },
        {
            src: 'images/direction/4.jpg',
            text: 'Хиросима'
        },
        {
            src: 'images/direction/5.jpg',
            text: 'Киото'
        },
        {
            src: 'images/direction/6.jpg',
            text: 'о.Хонсю'
        },
        {
            src: 'images/direction/7.jpg',
            text: 'Фукуока'
        },
        {
            src: 'images/direction/8.jpg',
            text: 'Йокахама'
        },
        {
            src: 'images/direction/9.jpg',
            text: 'Киёсу'
        },
        {
            src: 'images/direction/10.jpg',
            text: 'Катагами'
        },
        {
            src: 'images/direction/11.jpg',
            text: 'Никахо'
        }
    ]